html,
body {
    margin: 0;
    padding: 0;
}

canvas {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-pixelated;
    image-rendering: pixelated;
}

#process {
    display: none;
}

#starfield.started {
    cursor: none;
}
